<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
    <link rel="stylesheet" href="./checkbox.css" />
    <link rel="stylesheet" href="./index.css" />

</head>
<body>
    <section>
        <div class="create_container">
        <input class="create_input" type="text" placeholder="Напиши сюда новую задачу" />
        <button class="create_button"> Добавить </button>

        <div class="todo_container"><</div>
        
        <div class="todo_item">
             <div class="todo_item_header">
                 <label class="checkbox_container">
                     <input type="checkbox" />
                     <span class="checkmark"></span>
                 </label>
                 <h4> Купить молоко</h4>
             </div>
             <div class="todo_item_footer">
                 <p>17.11.2021 <span>17:22</span></p>
                 <div class="action_buttons">
                     <img src="./icons/star (1).png" />
                     <img src="./icons/recycle-bin.png" />
                 </div>
             </div>
        </div>


        <div class="todo_item marked"> 
        <div class="todo_item_header">
            <label class="checkbox_container">
                <input type="checkbox" />
                <span class="checkmark"></span>
            </label>
            <h4> Прочитать книгу</h4>
        </div>
        <div class="todo_item_footer">
            <p>18.11.2021 <span>16:22</span></p>
            <div class="action_buttons">
                <img src="./icons/star (1).png" />
                <img src="./icons/recycle-bin.png" />
            </div>
        </div>
   </div>

        <div class="todo_item done"> 
        <div class="todo_item_header">
            <label class="checkbox_container">
                <input type="checkbox" />
                <span class="checkmark"></span>
            </label>
            <h4> Написать письмо</h4>
        </div>
        <div class="todo_item_footer">
            <p>14.11.2021 <span>12:22</span></p>
            <div class="action_buttons">
                <img src="./icons/star (1).png" />
                <img src="./icons/recycle-bin.png" />
            </div>
        </div>
   </div>

        <div class="todo_item marked"> 
        <div class="todo_item_header">
            <label class="checkbox_container">
                <input type="checkbox" />
                <span class="checkmark"></span>
            </label>
            <h4> Выложить пост в инстаграм</h4>
        </div>
        <div class="todo_item_footer">
            <p>11.11.2021 <span>10:22</span></p>
            <div class="action_buttons">
                <img src="./icons/star (1).png" />
                <img src="./icons/recycle-bin.png" />
            </div>
        </div>
   </div>

        <div class="todo_item"> 
        <div class="todo_item_header">
            <label class="checkbox_container">
                <input type="checkbox" />
                <span class="checkmark"></span>
            </label>
            <h4> Поздравить друга с Днем Рождения</h4>
        </div>
        <div class="todo_item_footer">
            <p>19.11.2021 <span>13:22</span></p>
            <div class="action_buttons">
                <img src="./icons/star (1).png" />
                <img src="./icons/recycle-bin.png" />
            </div>
        </div>
   </div>


        <div class="todo_item done"> 
        <div class="todo_item_header">
            <label class="checkbox_container">
                <input type="checkbox" />
                <span class="checkmark"></span>
            </label>
            <h4> Купить чайник</h4>
        </div>
        <div class="todo_item_footer">
            <p>13.11.2021 <span>15:22</span></p>
            <div class="action_buttons">
                <img src="./icons/star (1).png" />
                <img src="./icons/recycle-bin.png" />
            </div>
        </div>
   </div>

    </section>
</body>
</html>