{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Meet</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

</head>
<body>
    
  <section class="wrapper">
    
    <div class="create_container">
      <form action="{% url 'add-tomeet' %}" method="POST">
          {% csrf_token %}
                <input class="create_input" type="text" placeholder="Напиши сюда имя человека" name="tomeet_person" />
                 <input class="create_input" type="tel" placeholder="Напиши сюда номер телефона" name="tomeet_phone_number" />
                 <input class="create_input" type="date" placeholder="Выбери дату встречи" name="tomeet_date_of_meeting" />
                <button class="create_button"> Добавить </button>
        </div>
      </form>
    
        <div class="todo_container">
            
    
            {% for tomeet in to_meet %}
                <div class="todo_item
                   {% if tomeet.is_favorite %}
                        marked
                    {% elif tomeet.is_closed %}
                        done
                   {% endif %}
                
                ">
    
                    <div class="todo_item_header">
                        <label class="checkbox_container">
                            <input type="checkbox" 
                            {% if tomeet.is_closed %}
                                checked
    
                            {% endif %}
                            />
                            <span class="checkmark"></span>
                        </label>
                        <h4> <a href="{% url 'closed-tomeet' tomeet.id %}">{{ tomeet.person}}</a></h4>
                        
                        
    
                    </div>
                        <h3> {{ tomeet.phone_number}}</h3>
                    <div class="todo_item_footer">
                        <p>{{ tomeet.date_of_meeting }}</p>
                        <div class="action_buttons">
                            {% if tomeet.is_favorite%}
                            <a href="{% url 'unmark-tomeet' tomeet.id %}"><img src="{% static './icons/favourite.png' %}" /></a>
    
                            {% else %}
                            <a href="{% url 'marked-tomeet' tomeet.id %}"><img src="{% static './icons/star (1).png' %}" /></a>
    
                            {% endif %}
                            
                            <a href="{% url 'delete-tomeet' tomeet.id %}"><img src="{% static './icons/recycle-bin.png' %}" /></a> 
                            
                        </div>
                    </div>
                </div>
                {% endfor%}
        </div>
    
    </section>
    
    </html>
